* {
  box-sizing: border-box;
}

body {
  background: #F5F7FB;
  color: #616161;
  font: caption;
  font-size: $font-normal;
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}

html, body {
  height: 100%;
}

input, textarea {
  cursor: text;
}

input:focus,
textarea:focus,
button:focus {
  outline: 0;
}

input[type="checkbox"],
input[type="radio"],
button,
a {
  cursor: pointer;
}

a, img {
  -webkit-user-drag: none;
}