.form-section {
  display: block;

  &--inline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-label {
      margin-bottom: 0;
    }
  }

  &--separator {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  color: #aaa;
  font-size: 14px;
}

.form-control {
  display: inline-block;
  background: white;
  border: 1px solid #c2c2c2;
  color: #8b8b8b;
  padding: 5px;
  font-size: 16px;

  &::-webkit-input-placeholder {
    color: #ccc;
  }

  &--small {
    width: 25%;
  }

  &--medium {
    width: 50%;
  }

  &--big {
    width: 75%;
  }

  &--full {
    width: 100%;
  }
}

.form-checkbox {
  -webkit-appearance: none;
  width: 36px;
  height: 18px;
  background: #c2c2c2;
  position: relative;
  transition: background .2s;
  border: none;

  &:checked {
    background: #387dcb;
  }

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 13px;
    height: 12px;
    background: white;
    transition: left .2s;
  }

  &:disabled {
    opacity: 0.3;
  }

  &:focus:checked:not(:disabled)::after,
  &:checked::after {
    left: 19px;
  }
}

.form-buttons {
  display: flex;

  .form-button {
    width: 50%;

    &:last-child {
      margin-left: 20px;
    }
  }
}

.form-color {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #c2c2c2;
  position: relative;
  margin: 0;

  &::after {
    content: '✔';
    position: absolute;
    right: -20px;
    top: 6px;
    color: white;
    font-size: 16px;
    opacity: 0;
    transition: right .2s, opacity .2s;
  }

  &:focus:checked:not(:disabled)::after,
  &:checked::after {
    right: 11px;
    opacity: 1;
  }
}

.form-colorPicker {
  display: block;
  width: 100%;
  height: 30px;
  background: -webkit-linear-gradient(left,
      #EC5353 0%,
      #E9E955 17%,
      #41EE41 33%,
      #00FFFF 50%,
      #5757EC 67%,
      #EC4DEC 83%,
      #EC5353 100%
  )
}