.u-block {
  display: block !important;
}

.u-hidden {
  display: none !important;
}

.u-inline {
  display: inline !important;
}

.u-inlineBlock {
  display: inline-block !important;
  max-width: 100%;
}

.u-flex {
  display: flex !important;
}

.u-flexInline {
  display: inline-flex !important;
}