.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-containFloat::before,
.u-containFloat::after {
  content: " ";
  display: table;
}

.u-containFloat:after {
  clear: both;
}

.u-100width {
  width: 100%;
}

.u-100height {
  height: 100%;
}

.u-mt10 { margin-top: 10px; }
.u-mt20 { margin-top: 20px; }
.u-mt30 { margin-top: 30px; }
.u-mt40 { margin-top: 40px; }
.u-mt50 { margin-top: 50px; }
.u-mt60 { margin-top: 60px; }
.u-mt70 { margin-top: 70px; }
.u-mt80 { margin-top: 80px; }
.u-mt90 { margin-top: 90px; }
.u-mt100 { margin-top: 100px; }
.u-mt150 { margin-top: 150px; }
.u-mt200 { margin-top: 200px; }

.u-mr10 { margin-right: 10px; }
.u-mr20 { margin-right: 20px; }
.u-mr30 { margin-right: 30px; }
.u-mr40 { margin-right: 40px; }
.u-mr50 { margin-right: 50px; }
.u-mr60 { margin-right: 60px; }
.u-mr70 { margin-right: 70px; }
.u-mr80 { margin-right: 80px; }
.u-mr90 { margin-right: 90px; }
.u-mr100 { margin-right: 100px; }
.u-mr150 { margin-right: 150px; }
.u-mr200 { margin-right: 200px; }

.u-mb10 { margin-bottom: 10px; }
.u-mb20 { margin-bottom: 20px; }
.u-mb30 { margin-bottom: 30px; }
.u-mb40 { margin-bottom: 40px; }
.u-mb50 { margin-bottom: 50px; }
.u-mb60 { margin-bottom: 60px; }
.u-mb70 { margin-bottom: 70px; }
.u-mb80 { margin-bottom: 80px; }
.u-mb90 { margin-bottom: 90px; }
.u-mb100 { margin-bottom: 100px; }
.u-mb150 { margin-bottom: 150px; }
.u-mb200 { margin-bottom: 200px; }

.u-ml10 { margin-left: 10px; }
.u-ml20 { margin-left: 20px; }
.u-ml30 { margin-left: 30px; }
.u-ml40 { margin-left: 40px; }
.u-ml50 { margin-left: 50px; }
.u-ml60 { margin-left: 60px; }
.u-ml70 { margin-left: 70px; }
.u-ml80 { margin-left: 80px; }
.u-ml90 { margin-left: 90px; }
.u-ml100 { margin-left: 100px; }
.u-ml150 { margin-left: 150px; }
.u-ml200 { margin-left: 200px; }